<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256797069150-5e7u4he8dd1gv4pv20geuk8e6i68ki58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256797069150-5e7u4he8dd1gv4pv20geuk8e6i68ki58</string>
	<key>API_KEY</key>
	<string>AIzaSyBLcfkoUZ3gqYMXZNP37b2zJBR7udnjCTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>256797069150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myMusic.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>music-player-ba9fe</string>
	<key>STORAGE_BUCKET</key>
	<string>music-player-ba9fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256797069150:ios:1811838380f61d4f3e09cf</string>
</dict>
</plist>